.input-container{
    width: 100%;
    position: relative;
}

.inputs:placeholder-shown ~ .input-label{
    bottom: .5rem;
    left: .6rem;
    font-size: 1rem;
    color: var(--grey-text-color);
    background: transparent;
    border: none;
    text-shadow:0px 0px 2px  var(--neon-color),0px 0px 1px #fff5;
}

.input-label{
    display: block ;
    position: absolute;
    text-shadow: 0px 0px 1px #fff5;
    cursor: text;
    transition: bottom 100ms, color 100ms, back-ground 100ms, font-size 100ms;
    font-weight: bold;
    user-select: none;
    bottom: 1.5rem;
    left: .6rem;
    font-size: .85rem;
    border-inline: 2px solid var(--neon-color);
    color: var(--neon-color);
    background:var(--background) ;
    padding-inline: .2rem ;
}


.inputs::placeholder{
    opacity: 0;
	user-select: none;
}
.inputs{
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid var(--neon-color);
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 0 3px var(--neon-color), 0 0 3px var(--neon-color);
    border-radius: 2px;
    padding: .4rem .6rem;
    color: var(--grey-text-color);
    text-shadow:0px 0px 2px  var(--neon-color),0px 0px 1px #fff5;

    transition: background .3s, box-shadow .4s;
}
.inputs:focus{
    background-color: var(--neon-color);
    box-shadow: 0 0 2px var(--neon-color),
                0 0 10px var(--neon-color),
                0 0 18px var(--neon-color);
    text-shadow: none;
}

.inputs:focus ~ .input-label{
    font-size: .85rem;
    text-shadow:0px 0px 1px  var(--neon-color),0px 0px 2px #fff;
    bottom: 1.5rem;
    border-radius: 2px;
    color: var(--grey-text-color);
    background: transparent;
    border: none;
    text-shadow:0px 0px 2px  var(--neon-color),0px 0px 1px #fff5;
}

.eye{
    position: absolute;
    color: var(--grey-text-color);
    width: 1.85rem;
    height: 1.8rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    right: 1px;
    top: 2px;
}
.fa-solid{
    text-shadow:0px 0px 2px  var(--neon-color),0px 0px 1px #fff5;   
}

.eye:hover{
    background-color: #0000009c;
}

.bad-entries{
    color: #f00b;
    text-align: left;
    width: 100%;
}